<div id="portal-bg" class="bg-white dark:bg-slate-900 shadow-inner">
  <div id="portal-bg-gradient" class="pt-8 pb-8 md:pt-14 md:pb-6">
    <div class="max-w-5xl px-4 md:px-8 mx-auto flex flex-col">
    </div>
  </div>
</div>

<div class="flex flex-col max-w-5xl w-full px-4 md:px-8 mx-auto">
  <h1 class="text-3xl font-semibold leading-normal md:tracking-normal md:text-4xl text-slate-900 dark:text-white text-center">
    <%= I18n.t('public_portal.articles.403.title') %>
  </h1>
  <p class="mt-4 text-slate-700 dark:text-slate-200 text-center">
    <%= I18n.t('public_portal.articles.403.description') %>
  </p>
  <div class="flex-1" id="cw-hc-toc"></div>
</div>

<style>
    .article-content {
      margin: 0;
    }
</style>