<div id="portal-bg" class="bg-white dark:bg-slate-900 shadow-inner">
  <div id="portal-bg-gradient" class="pt-8 pb-8 md:pt-14 md:pb-6">
    <div class="max-w-5xl px-4 md:px-8 mx-auto flex flex-col">
    </div>
  </div>
</div>

<div class="flex flex-col max-w-5xl w-full px-4 md:px-8 mx-auto">
  <div id="protected-content" style="display: none;">
    <h1 class="text-3xl font-semibold leading-normal md:tracking-normal md:text-4xl text-slate-900 dark:text-white text-center">
      <%= I18n.t('public_portal.articles.403.title') %>
    </h1>
    <p class="mt-4 text-slate-700 dark:text-slate-200 text-center">
      <%= I18n.t('public_portal.articles.403.description') %>
    </p>
  </div>
  <div id="content-wrapper" style="display: none;">
    <div class="max-w-5xl mx-auto space-y-4 w-full px-4 md:px-8">
      <%= render "public/api/v1/portals/articles/article_header", article: @article %>
    </div>
    <div class="max-w-5xl mx-auto w-full px-4 md:px-8">
      <article id="cw-article-content" class="article-content flex-grow flex-2 mx-auto text-slate-800 dark:text-slate-50 text-lg max-w-3xl prose-h1:text-2xl prose-h2:text-xl prose-h2:mt-0 prose-h3:text-lg prose-code:[&>p]:p-1 prose-code:[&>p]:rounded-sm prose-code:[&>p]:bg-black-100 dark:prose-code:[&>p]:bg-black-600 prose-code:after:content-none prose-code:before:content-none prose dark:prose-invert break-words w-full <%= @is_plain_layout_enabled ? 'py-4' : 'pt-8 pb-12' %>">
      </article>
    </div>
  </div>
</div>

<style>
  .article-content {
    margin: 0;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const accessToken = localStorage.getItem('access-token');
    const client = localStorage.getItem('client');
    const uid = localStorage.getItem('uid');

    function showContent() {
      const url = window.location.href;
      return fetch(`${url}/content`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          'access-token': accessToken,
          'client': client,
          'uid': uid
        }
      })
    }

    function validateToken() {
      document.getElementById('protected-content').style.display = 'block';
      fetch('/auth/validate_token', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          'access-token': accessToken,
          'client': client,
          'uid': uid
        }
      })
      .then(response => response.json())
      .then(response => {
        const data = response.payload;
        if (data.success){
          showContent(data.data.access_token)
          .then(response => response.json())
          .then((res) => {
            document.getElementById('protected-content').style.display = 'none';
            document.getElementById('content-wrapper').style.display = 'block';
            document.getElementById('cw-article-content').innerHTML = res.payload.content;
          });
        }else
          window.location.href = '/app/login';
      })
      .catch(error => {
        document.getElementById('unauthorized-message').style.display = 'block';
      });
    }
    validateToken();
  });
</script>
